env/
*.pyc
.tmp/
dist/

venv/

*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
node_modules/

package-lock.json
.DS_Store
post.py
.env
.DS_Store
*.zip

static/files
static/files/*.xlsx