* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    width: 967px;
    min-height: 600px;
    margin: 0px auto;
}
div.container {
    text-align: center;
    display: block;
}

h1 {
    text-align: center;
    margin: 20px;
    color: maroon;
    font-family: 'Cabin', sans-serif;
}

.formulario {
    padding: 20px;
    border: 1px;
}